:root {
    --text: #eae9fc;
    --text-secondary: #6962ea;
    --background: #010104;
    --background-secondary: #18181b;
    --primary: #3a31d8;
    --secondary: #020024;
    --accent: #0600c2;
}

  @media (prefers-color-scheme: light) {
    :root {
      --text: #040316;
      --text-secondary: #6962ea;
      --background: #fbfbfe;
      --background-secondary: #f0f0f5;
      --primary: #2f27ce;
      --secondary: #dddbff;
      --accent: #443dff;
    }
}

html[data-theme='light'] {
    --text: #040316;
    --text-secondary: #6962ea;
    --background: #fbfbfe;
    --background-secondary: #f0f0f5;
    --primary: #2f27ce;
    --secondary: #dddbff;
    --accent: #443dff;
}

.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

#sun-icon {
    display: none;
}

html[data-theme='light'] #sun-icon {
    display: inline;
}

html[data-theme='light'] #moon-icon {
    display: none;
}

html[data-theme='dark'] #sun-icon {
    display: none;
}

html[data-theme='dark'] #moon-icon {
    display: inline;
}

/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 6rem 11rem 11rem 15rem !important;
    width: auto !important;
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
    line-height: 1.5;
} */

/* main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 5rem 0;
    width: 100%;
} */
h1 {
    color: var(--text);
    font-size: 5rem;
}

h2 {
    color: var(--text);
    font-size: 2rem;
}

p {
    color: var(--text);
}

/* .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 2rem 6rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.hero-img {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
} */

/* wave header */
.header {
    margin: 1em;
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    font-size: 30px;
}

.nav-link {
    color: var(--text)
}

.nav-link svg {
    min-width: 2rem;
    margin: 0;
}

.nav-link:hover {
    color: var(--text-secondary);
}

.navbar-nav .nav-link.active {
    color: var(--text-secondary);
}

/* .navbar-nav .nav-link.active:hover {
    color: var(--text);
} */

.navbar {
    background-color: var(--background-secondary);
    /* position: fixed; */
    /* z-index: 1000; */
}

/* .navbar-toggler {
    background-color: var(--secondary);
}

.navbar-toggler-icon {
    background-color: var(--secondary);
} */

/*
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.nav-item:first-child {
    margin-left: 14rem;
}

.nav-item:last-child {
    margin-left: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--text);
    text-decoration: none;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 1rem;
}
*/

.fa-sun {
    color: var(--text);
}

.fa-sun:hover {
    color: var(--text-secondary)
}

.moon {
    transition: transform 0.3s ease-in-out;
}

.moon:hover {
    transform: scale(1.01);
}

.italic {
    font-style: italic;
    font-weight: bold;
    color: var(--text-secondary);
}

/* section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
} */

section #waves{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

/* the over the board contact us button */
.contact {
    display: inline-block;
    margin: 1.5rem 1rem;
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(135deg,#3a31d8, #020024);
    color: var(--text);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.contact:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.contact:active {
    transform: scale(0.98);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar {
    width: 0.333rem;
}

body::-webkit-scrollbar-track {
    background: var(--background-secondary);
}

body::-webkit-scrollbar-thumb {
    background: var(--primary);
}

.pink {
    background: #e785c1;
}

.lime {
    background: #b1ff7f;
}

.cyan {
    background: #2ddad6;
}

.hot-pink {
    background: #f63e6e;
}

/*Waves and curves*/
.curve {
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #b1ff7f;
    transform: translate(85%, 60%)
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #e785c1;
    transform: translate(-4%, 40%);
    z-index: 1;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    height: 150px;
}

.wave .shape-fill {
    fill: #2DDAD6;
}

.wave2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave2 svg {
    position: relative;
    display: block;
    width: calc(125% + 1.3px);
    height: 150px;
}

.wave2 .shape-fill {
    fill: #B1FF7F;
}

.spacer {
    aspect-ratio: 900/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('/assets/stacked-waves-haikei.svg');
}

/*Fade-in animation*/
.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s ;
}

@media(prefers-reduced-motion) {
    .hidden {
        transform: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}

/*Graph animation*/
/* .graphs {
    display: flex;
} */

.graph:nth-child(2) {
    transition-delay: 200ms;
}

.graph:nth-child(3) {
    transition-delay: 400ms;
}

.graph:nth-child(4) {
    transition-delay: 600ms;
}

.graph:nth-child(5) {
    transition-delay: 800ms;
}

.graph:nth-child(6) {
    transition-delay: 1000ms;
}

.graph:nth-child(7) {
    transition-delay: 1200ms;
}

/*Professionals animation*/
/* .professionals {
    display: flex;
    max-width: 100%;
} */

.card {
    background-color: unset;
    border-color: var(--primary);
}

.card-title {
    color: var(--text)
}

/* .professional {
    padding-right: 1rem;
    max-height: 300px;
    max-width: 300px;
}

.professional img {
    max-height: 300px;
    max-width: 300px;
}

.professional p {
    padding: 1rem;
    border: solid;
    border-radius: 1rem;
    border-width: 0.25rem;
    border-color: var(--primary);
} */

.professional:nth-child(2) {
    transition-delay: 200ms;
}

.professional:nth-child(3) {
    transition-delay: 400ms;
}

.professional:nth-child(4) {
    transition-delay: 600ms;
}

/*Progress bar*/
/* .progress-content {
    padding: 20px;
}

.progress-content .progress-bar-section {
    padding: 40px;
} */

/* .progress-bar {
    position: fixed;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 225px;
    width: 50px;
    z-index: 1000;
}

.progress-line {
    position: relative;
    height: 80%;
    width: 0.25rem;
    background-color: var(--primary);
}

.progress-section {
    width: 80px;
    height: 20px;
    border-radius: 15px;
    background-color: var(--background-secondary);
    position: absolute;
    left: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    color: var(--text);
    padding: 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s, transform 0.3s;
} */

#section-prev {
    top: 1.5rem;
}

#section-current {
    top: calc(50% - 1.25rem);
    background-color: var(--primary);
}

#section-next {
    bottom: 2rem;
}

.progress-section.current {
    background-color: var(--primary);
    transform: scale(1.1);
}

/*Contact form*/
.contact-container {
    background-color: var(--background-secondary);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 1rem rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.contact-form label {
    color: var(--text);
}

.contact-form input, .contact-form textarea {
    border: 1px solid var(--primary);
    color: var(--background-secondary);
    background-color: var(--text);
}

.contact-form textarea {
    resize: none;
}

.contact-form button {
    background-color: var(--text-secondary);
    color: var(--text);
    padding: 15px 20px;
    border: 1px solid var(--primary);
    font-size: 1rem;
    width: 100%;
}

.contact-form button:hover {
    background-color: var(--primary);
}

.form-text {
    color: var(--text-secondary)
}

.about-us li {
    color: var(--text);
    margin-bottom: 1rem;
}

li::marker {
    color: var(--primary);
}